.account{
    display: flex;
    padding-bottom: 0rem;
}
.account-info{
    color: white;
    font-size: 1.5rem;
    height: 3rem;
    border-radius: 0px 0px 1.5rem 0px;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3EB489;
    transition: 0.5s ease;
    text-decoration: none;
}
.account-info:hover{
    background-color: #FF7F50;
    cursor: pointer;
    transition: 0.5s ease;
}
.account-user{
    margin-left: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.account-userstyle{
    display: flex;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
    color: #FF7F50;
}
.account-tasks{
    margin-left: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.account-tasksstyle{
    display: flex;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
    color: #FF7F50;
}