.solved-container {
  padding: 1rem;
  margin-top: 1rem;
  font-size: 32px;
  display: flex;
  flex-direction: column;
}

.acc-username {
  margin-top: 1rem;
  font-size: 28px;
  color: #ff7f50;
}

.username {
  font-size: 28px;
  border: none;
  border-bottom: 1px solid black;
}
.username:focus {
  outline: none;
}
.acc-email {
  padding: 1rem;
  font-size: 28px;
  color: #ff7f50;
}
.email {
  padding: 1rem;
  font-size: 28px;
}
#acc-page {
  display: flex;
  justify-content: space-evenly;
}
.acc-save {
  font-family: Karla, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 0.5rem 5rem 0.5rem 5rem;
  border-radius: 10px;
  background-color: #282828;
  color: rgb(255, 255, 255);
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-decoration: none;
}
.acc-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.acc-save:hover {
  background-color: #ff7f50;
  cursor: pointer;
}
.acc-solved {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  margin: 0.2em;
}
.sol-header {
  display: flex;
  font-weight: bold;
  border-bottom: 1px solid black;
  justify-content: center;
  margin-bottom: 1rem;
}
.popup-bottom {
  display: flex;
  justify-content: space-between;
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.popup-close {
  padding: 10px;
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s ease;
}
.popup-close:hover {
  background-color: #ff7f50;
  color: white;
  transition: 0.3s ease;
}
.popup-link {
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  font-size: 18px;
  color: #3eb489;
  transition: 0.3s ease;
}
.popup-link:hover {
  color: #ff7f50;
  font-size: 22px;
  transition: 0.3s ease;
}

.subject-text-acc:hover {
  color: #ff7f50;
  cursor: pointer;
}

.bracket-acc {
  font-size: 3rem;
  color: #3eb489;
  padding: 0.5rem;
}
.subject-text-acc {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
  margin-top: 0.5rem;
  transition: 0.3s ease;
  color: black;
}
