.sign_in-container{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-field{
    padding: 20px;
    width: 400px;
    margin-bottom: 40px;
    height: 50px;
    border: none;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 2px #5e5e5ec0);
    transition: .5s ease;
}
input,
input::placeholder {
    font: 1.25rem/3 sans-serif;
    color: black;
}

input:focus {
    border-color: #FF7F50; /* Change border color */
    box-shadow: 0 0 15px #FF7F50; /* Add a shadow */
    outline: #FF7F50; /* Remove default outline */
    filter: drop-shadow(0px 0px 0px #414141);
}
.sign_in-form{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input:focus::placeholder {
    color: transparent;
}

.sign-remember{
    display: flex;
    align-items: center;
}
.sign-assist{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.sign-forgot{
    color: black;
    transition: 0.5s ease;
}
.sign-forgot:hover{
    font-size: large;
    color: #FF7F50;
    cursor: pointer;
}

.check-msg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    color: tomato;
}