.table {
  font-size: large;
  border: 1px solid black;
  padding: 1rem;
  margin-top: 3rem;
}
th {
  width: 10rem;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 0.5rem;
}

.error-msg{
  color: red;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.passed-msg{
  color: green;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
}
.failed-msg{
  color: red;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
}
