.hero-container{
    margin-top: 100px;
    
}
.hero-study{
    display: flex;
    align-items: center;
    margin-top: 0px;
    font-size: 100px;
    color: #5B5F97;
    line-height: 1;
}
.hero-practice{
    display: flex;
    align-items: center;
    font-size: 132px;
    color: #FF7F50;
    line-height: 1;
}
.hero-solve{
    display: flex;
    align-items: center;
    font-size: 164px;
    color: #3EB489;
    line-height: 1;
}