.hero-container {
  margin-top: 50px;
}
.hero-study {
  display: flex;
  align-items: center;
  font-size: 68px;
  color: #5b5f97;
  line-height: 1;
}
.study-svg {
  height: 100px;
}
.practice-svg {
  height: 90px;
}
.solve-svg {
  height: 100px;
}
.hero-practice {
  display: flex;
  align-items: center;
  font-size: 100px;
  color: #ff7f50;
  line-height: 1;
}
.hero-solve {
  display: flex;
  align-items: center;
  font-size: 132px;
  color: #3eb489;
  line-height: 1;
}
.hero-text {
  margin-top: 10px;
  font-size: 22px;
}
